
# $HOME/.config/systemd/user/run_rpi_temperature.service
[Unit]
Description=Update and run rpi_temperature project

[Service]
ExecStartPre=nm-online
WorkingDirectory=%h/rpi_temperature
ExecStartPre=/usr/bin/git reset --hard master
ExecStartPre=/usr/bin/git pull
ExecStart=%h/rpi_temperature/venv/bin/python3 %h/rpi_temperature/temperature.py

[Install]
WantedBy=default.target
