
# $HOME/.config/systemd/user/run_rpi_temperature.service
[Unit]
Description=Run rpi_temperature project
After=update_rpi_temperature.service

[Service]
ExecStart=%h/rpi_temperature/venv/bin/python3 %h/rpi_temperature/temperature.py

[Install]
WantedBy=multi-user.target