# $HOME/.config/systemd/user/update_rpi_temperature.service
[Unit]
Description=Update rpi_temperature project

[Service]
Type=oneshot
WorkingDirectory=%h/rpi_temperature
ExecStart=/usr/bin/git reset --hard
ExecStart=/usr/bin/git pull

[Install]
WantedBy=default.target